# Verification

**Properties**

| Name   | Type   | Required | Description |
| :----- | :----- | :------- | :---------- |
| Type\_ | string | ❌       |             |
| Value  | string | ❌       |             |
